
  @media (min-width:500px) and (max-width:700px)
  {
    body
    {
      height: 700px !important;
    }

    header
    {
      position: fixed;
    }

    header .user-avatar
    {
      display: none;
    }

    header nav
    {
      display: none !important;
    }

    .mobile-menu
    {
      width: 47px;
      height: 33px;
      background-image: url("../images/icons/open-menu.png");
      background-repeat: no-repeat;
      background-size: contain;
      margin-right: auto;
      cursor: pointer;
      display: block;
    }

    ul.mobile-nav
    {
      width: 67%;
      position: fixed;
      background-color: #09222b;
      font-weight: bold;
      margin: 0;
      padding: 0;
      display: none;
    }

    ul.mobile-nav li
    {
      padding: 18px 30px;
    }

    ul.mobile-nav li:hover
    {
      background-color: #198a9c;
    }

    #header-logo
    {
      margin-right: auto;
    }

    main
    {
      padding-top: 133px;
      min-height: 400px !important;
    }

    .limitation
    {
      width: 92.5% !important;
      justify-content: center !important;
    }

    h2
    {
      font-size: 1.67em;
    }

    #login-form
    {
      width: 80%;
    }

    .task
    {
      display: none;
    }

    .task-mobile
    {
      height: 300px;
      display: block;
    }

    .task-lang
    {
      width: 63px;
      height: 63px;
      margin: 0 16px 0px 0px;
    }

    .task-content p
    {
      margin: 15px 0px;
    }

    .task-status
    {
      height: auto;
    }

    .task-status h3
    {
      margin: 0;
    }

    #students-list
    {
      width: 100%;
    }

    #student-tasks
    {
      display: none;
    }
}
