  @media (min-width:900px) and (max-width:1500px)
  {
    .limitation
    {
      width: 92.5% !important;
    }

    h2
    {
      font-size: 1.67em;
    }
  }

  @media (min-width:700px) and (max-width:900px)
  {
    .limitation
    {
      width: 92.5% !important;
    }

    h2
    {
      font-size: 1.67em;
    }

    #login-form
    {
      width: 50%;
    }
    
    .task-content
    {
      width: 40%;
    }
  }
